

.card {
      background-color: rgb(41, 54, 63);
  }

body {
      background-color: rgb(32, 42, 49);
      color: white
  }

.jumbotron {
    background: rgb(32, 42, 49);
    text-align: center;
    margin-top: 4em;
    padding-bottom: 15px
}

.card-header {
    color: rgb(13, 188, 219);
}

.card-body {
    background: rgb(41, 54, 63);
}

#home-btn {
    background: rgb(13, 188, 219);
    border: none;
}

#btn {
    background: rgb(13, 188, 219);
    border: none;
}

#submit {
    background: rgb(13, 188, 219);
    border: none;
}

.btn:focus {
    border-color: rgb(13, 188, 219);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(13, 188, 219);
}

#home {
    text-decoration: none;
    color: white;
}

a {
    color: rgb(13, 188, 219);
    text-decoration: none;
}

a:hover {
    color: deeppink;
    text-decoration: none;
}

a:active {
    border: none;
}

footer {
    text-align: center;
    margin-top: 1em;
}

/* soft tone logo */
/* #friend {
    color: rgb(129, 163, 64);
    font-weight: normal;
}

#finder {
    color: rgb(53, 96, 104);
    font-weight: normal;
} */

/* Pink tone logo */
#friend {
    color: deeppink;
    font-weight: normal;
}

#finder {
    color: rgb(13, 188, 219);
    font-weight: normal;
}

/* #friend {
    color: rgb(127, 185, 19);
    font-weight: normal;
}

#finder {
    color: rgb(206, 88, 34);
    font-weight: normal;
} */

#survey-header {
    color: white;
}

#about {
    color: rgb(13, 188, 219);
}

#group {
    margin-left: 15px;
    margin-right: 15px;
}

#submit {
    text-align: center;
}

.container {
    margin-bottom: 1em;
}

#main {
    margin-top: 3em;
}

.button {
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

.modal-content {
    background-color: rgb(41, 54, 63);
    border: none;
}

.modal-header {
    background: rgb(32, 42, 49);
    border: none;
}

.modal-footer {
    border: none;
}

#close {
    background: rgb(13, 188, 219);
    border: none;
}

#title-close {
    color: white;
}

.form-control:focus {
    border-color: rgb(13, 188, 219);
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(13, 188, 219); */
  }