/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.card {
      background-color: rgb(41, 54, 63);
  }

body {
      background-color: rgb(255, 255, 255);
      color: white
  }

.jumbotron {
    box-shadow: 5px 10px 10px rgb(22, 22, 22);
    background: rgb(41, 54, 63);
    text-align: center;
}

.card-header {
    color: rgb(13, 188, 219);
}

.card-body {
    background: rgb(41, 54, 63);
}

#home-btn {
    background: rgb(13, 188, 219);
    border: none;
}

#btn {
    background: rgb(13, 188, 219);
    border: none;
}

a {
    color: rgb(5, 72, 83);
    text-decoration: none;
}

a:hover {
    color: rgb(13, 188, 219);
    text-decoration: none;
}


